include LICENSE
include README.md
include format.sh
include check_package.sh
include check.sh
include requirements.txt
include generate_docs.sh
include run_playground.sh
include run_tests.sh
include playground.py
recursive-include docs *.md *.rst *.py
recursive-include tests *.py
